/* Подключение шрифта*/
@font-face {
    font-family: "PT Sans";

    font-style: normal;/*начертание*/
    font-weight: 400;/*насыщенность*/

    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;

    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/* */
body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
}

/* Кнопка */
.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    background-color: #756157;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

/*.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}*/

/* Шапка*/
.main-header {
    color: #000000;
    background-color: #FFFFFF;
}

/* Навигация */
.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-decoration: none;

}

.user-link-buttom {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #756157;
    text-align: center;
    text-decoration: none;
}

/* верхний блок*/
.top-section {
    background-color: #82B3D3;
    color: #FFFFFF;
    background-image: url("../images/view/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.headline {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.description-text {
    font-size: 22px;
    line-height: 26px;
}

/* Преимущества*/

.advantages-section {
    text-align: center;
}

.advantages-subtitle,
.services-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.advantages-item {
    background-color: #82B3D3;
    color: #FFFFFF;
    width: 400px;
    height: 385px;
}

.background-light-blue {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.background-blue {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000;
}


/* Сервис */
.services-section {
    text-align: center;
}

.services-item {
    width: 400px;
    height: 385px;
}


/* Поиск */
.hotels-section {
    text-align: center;
}


/* Рассылка */
.subscribe-section {
    background-color: #82B3D3;
    color: #FFFFFF;
    background-image: url("../images/view/subscribe.jpg");/* почему картинка обрезалась по высоте?*/
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.subscribe-button {
    background-color: #82B3D3;

}


/* Подвал */
.page-footer {
    background-color: #FFFFFF;

}

.page-footer a {
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;

}


/* ХЛЕБНЫЕ КРОШКИ*/
.inner-header {
    background-color: #82B3D3;
    color: #FFFFFF;
    background-image: url("../images/view/background-filter.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.breadcrumbs-link {
    color: inherit;
}

.hotel-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;

}

.serch-result {
    color: #333333;
    background-color: #FFFFFF;
}

.select-control {
    color: #333333;
}

.hotel-card a {
    color: #000000;
    text-align: left;
    text-decoration: none;
}

/* РАССЫЛКА КАТАЛОГ*/
.subscribe-section-inner {
    background-color: #FFFFFF;
    color: #000000;

    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}
