/* Подключение шрифта*/
@font-face {
    font-family: "PT Sans";

    font-style: normal;/*начертание*/
    font-weight: 400;/*насыщенность*/

    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;

    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/* */
body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
}
/* Шапка*/
.main-header {
color: #000000;
background-color: #FFFFFF;
}

/* Навигация */
.navigation-link {
font-size: 20px;
line-height: 24px;
font-weight: 700;
color: #000000;
font-weight: ;
text-align: center;
text-decoration: none;
}
